.signup-page{
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1172px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* left side content in both signin and register page */


.laundryservice{
  position: absolute;
  top: 230px;
  left: 152px;
  width: 411px;
  height: 257px;
  /* UI Properties */
  text-align: left;
  font: normal normal 900 100px/120px Avenir;
  letter-spacing: 0px;
  color: #5861AE;
  text-transform: capitalize;
  opacity: 1;
}
.line-1{
  position: absolute;
  top: 501px;
  left: 151px;
  width: 335px;
  height: 27px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 20px/26px Avenir;
  letter-spacing: 0.8px;
  color: #565657;
  text-transform: capitalize;
  opacity: 1;
}
.line-2{
  position: absolute;
  top: 602px;
  left: 152px;
  width: 189px;
  height: 22px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 16px/26px Avenir;
  letter-spacing: 0.64px;
  color: #565657;
  text-transform: capitalize;
  opacity: 1;
}
.sidebutton{
  position: absolute;
  top: 640px;
  left: 152px;
  width: 150px;
  height: 50px;
  /* UI Properties */
  border: 2px solid #4552C1;
  border-radius: 4px;
  opacity: 1;
  background-color: white;
}
.div-2{
  position: absolute;
  top: 81px;
  left: 730px;
  width: 710px;
  height: 769px;
  /* UI Properties */
  background: #B9C0FD1A 0% 0% no-repeat padding-box;
  opacity: 1;
}
.error-message{
  color:red;
  font-size: 10px;
}
.warning-message{
  color:red;
  font-size: 15px;
}

