.navbar li {
    list-style-type:none;
  }
  .navbar{
    position: absolute;
    top: 0px !important;
    left: 0px !important;
    width: 1440px;
    height: 80px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 48px #0000000F;
    opacity: 1;
  }
  .laundry{
    position: absolute;
    top: 30px;
    left: 119px;
    width: 108px;
    height: 27px;
    /* UI Properties */
    text-align: left;
    font: normal normal 900 20px/27px Avenir;
    letter-spacing: 1.8px;
    color: #5861AE;
    text-transform: uppercase;
    opacity: 1;
    
  }
  .home{
     position:absolute;
     top: 34px;
     left: 1021px;
     width: 42px;
     height: 19px;
     /* UI Properties */
     text-align: center;
     font: normal normal normal 14px/19px Avenir;
     letter-spacing: 1.05px;
     color: #565657;
     text-transform: capitalize;
     opacity: 1;
     
  }
  .pricing{
    position:absolute;
    top: 34px;
    left: 1135px;
    width: 48px;
    height: 19px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 14px/19px Avenir;
    letter-spacing: 1.05px;
    color: #565657;
    text-transform: capitalize;
    opacity: 1;
  }
  .career{
    position:absolute;
    top: 34px;
    left: 1250px;
    width: 46px;
    height: 19px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 14px/19px Avenir;
    letter-spacing: 1.05px;
    color: #565657;
    text-transform: capitalize;
    opacity: 1;
  }
  .button{
    position:absolute;
    top: 0px;
    left: 1328px;
    width: 113px;
    height: 80px;
    /* UI Properties */
    background: #5861AE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    padding: 31px;
    color: white;
  }
  
  